[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pexpect = "*"
cython = "*"
kivy = "*"
strictyaml = "*"
pyzmq = "*"
requests = "*"
pyserial = "*"
pifacedigitalio = "*"
qrcode = "*"
docutils = "==0.14rc2"
pillow = "*"
pysha3 = "*"
path = "*"
pydantic = "*"
